extends layout

block content
  #banner.page-header
    .row     
        h1.text-center Welcome to Trades and Services
    .row
      .col.text-center
        .btn-group.btn-group-justified
          a.btn.btn-default.btn-lg(href="/tradie/signup/new") Sign Up: Tradesman
          a.btn.btn-default.btn-lg(href="/user/signup/new") Sign Up: User
    .row
      h2.text-center Already a Member?
    .row
      .col.text-center
        .form-inline
          .form-group
            span.label.login.form-font User Name:
            input.input-lg(type="text", id="username")
          .form-group
            span.label.login.form-font Password:
            input.input-lg.login.form-btn-space(type="text", id="pw")
          .btn.btn-default.btn-lg Submit