extends layout

block content
  
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 Search to find a tradesman who can carry out your job!
        form.form-horizontal(action='')
          .form-group
            label.control-label.col-sm-2(for='username') User name
            .col-sm-10
              input#email.form-control(type='text', name='username', require)
          .form-group
            label.control-label.col-sm-2(for='suburb') Suburb
            .col-sm-10
              input#email.form-control(type='text', name='suburb', require)
          .form-group
            label.control-label.col-sm-2(for='Type of job', require) Type of job
            .col-sm-10
              input#email.form-control(type='text', name='jobtype', require)
          .form-group
            label.control-label.col-sm-2(for='rating', require) Minimum rating
            .col-sm-10
              input#email.form-control(type='numeric', min='0', max='5', require)
          .form-group
            .col-sm-12
              input#email.form-control(type='submit', value='Submit')
