extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        p This is a tradie's public profile. See if their quality and services are fit for your job!
        


      .col-md-6.col-sm-12
        h2 Public profile
        p This data will be dynamically pulled from the database
        table
          tr
            td 
              label
              | Username
              td
                | Test name
          tr
            td 
              label
              | Suburb
              td
                | South Perth
          tr
            td 
              label
              | Trade
              td
                | Carpentry
          tr
            td 
              label
              | Length of contracts undertaken  
              td
                | 1-5 days
          tr
            td 
              label
              | Tradies' rating
              td
                | 4/5
            
        
