extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 This is a tradie's public profile.
        


      .col-md-6.col-sm-12
        h1 Public profile
        table
          tr
            td label
              | Username
              td
                | Test name
          tr
            td label
              | Suburb
              td
                | South Perth
          tr
            td label
              | Trade
              td
                | Carpentry
          tr
            td label
              | Length of contracts undertaken
              td
                | 1-5 days
          tr
            td rating
              | Tradies' rating
              td
                | 4/5
            
        
