extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        p This has your personal information as a tradie. Any updates you make will be implemented immediately.
        p These updates will affect the results of your search queries, and what will be displayed on your public profile.


      .col-md-6.col-sm-12
        form(name="TradiePrivateInfo", value="submit", validate)
          table
            tr
              td 
                label
                  | Real Name
                  td
                   input#realName(type='text', title='Real name', required='')
            tr
              td
                label
                  | User Name
                  td
                    input#userName(type='text', title='User name', require='')
            tr
              td
                label
                  | E-mail address
                  td
                    input#tradieEmail(type='email', title='E-mail', require='')
            tr
              td
                label
                  | Password
                  td
                    input#password(type='password', title='Enter a password', require='')
            tr
              td
                label
                  | Password
                  td
                    input#confirmPassword(type='password', title='Confirm your password', require='')            
            tr
              td
                label
                  | Suburb
                  td
                    input#suburb(type='text', title='Suburb', require='')
            tr
              td
                label
                  | Address
                  td
                    input#address(type='text', title='Address', require='')
            tr
              td
                label
                  | Services
                  td
                    input#services(type='text', title='Services', require='')
            tr
              td
                label
                  | Distance willing to travel
                  td
                    input#distance(type='numeric', title='Distance', require='')
            tr
              td
                input#privateInfoUpdate(type='submit', value='Update your details ')
        
