extends layout

block content
  
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        p This has your personal information as a tradie. Any updates you make will be implemented immediately.
        p These updates will affect the results of your search queries, and what will be displayed on your public profile.


      .col-md-6.col-sm-12
        form.form-horizontal(action='')
          .form-group
            label.control-label.col-sm-2(for='realname') Real name
            .col-sm-10
              input#email.form-control(type='text', name='Real name', require)
          .form-group
              label.control-label.col-sm-2(for='username') User name
              .col-sm-10
                input#email.form-control(type='text', name='User name', require)        
          .form-group
            label.control-label.col-sm-2(for='email') E-mail
            .col-sm-10
              input#email.form-control(type='email', name='e-mail', require)         
          .form-group
            label.control-label.col-sm-2(for='password') Password
            .col-sm-10
              input#email.form-control(type='password', name='password', require)       
          .form-group
            label.control-label.col-sm-2(for='confirmPassword') Confirm password
            .col-sm-10
              input#email.form-control(type='password', name='confirmPasswordpassword', require)      
    
        
        form(name="TradiePrivateInfo", value="submit", validate)
          table
            tr
              td 
                label
                  | Real Name
                  td
                   input#realName(type='text', title='Real name', required='')
            tr
              td
                label
                  | User Name
                  td
                    input#userName(type='text', title='User name', require='')
            tr
              td
                label
                  | E-mail address
                  td
                    input#tradieEmail(type='email', title='E-mail', require='')
            tr
              td
                label
                  | Password
                  td
                    input#password(type='password', title='Enter a password', require='')
            tr
              td
                label
                  | Password
                  td
                    input#confirmPassword(type='password', title='Confirm your password', require='')            
            tr
              td
                label
                  | Suburb
                  td
                    input#suburb(type='text', title='Suburb', require='')
            tr
              td
                label
                  | Address
                  td
                    input#address(type='text', title='Address', require='')
            tr

                label
                
                  select#trade(onchange='ChangeServiceList()')
                    option(selected='', value='Default') Please select trade
                    option(value='Plumber') Plumber
                    option(value='Electrician') Electrician
                    option(value='Carpenter') Carpenter
                    option(value='AC/Refrigeration') AC/Refrigeration
                    option(value='Gardening/Landscaping') Gardening/Landscaping
                    option(value='Labourer') Labourer     
                    li
                  label Service
                    select#service 
            tr
              td
                label
                  | Distance willing to travel
                  td
                    input#distance(type='numeric', title='Distance', require='')
            tr
              td
                input#privateInfoUpdate(type='submit', value='Update your details ')
  
          script(src='/public/javascripts/DynamicForm.js')      
