extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 This has your personal information as a tradie. Any updates you make will be implemented immediately.
        a(href='/welcome', title:'Return to the homepage') Return to the homepage


      .col-md-6.col-sm-12
        form#TradiePrivateInfo
          table
            tr
              td 
                label
                  | Real Name
                  td
                   input#realName(type='text', title='Real name', required='')
            tr
              td
                label
                  | User Name
                  td
                    input#userName(type='text', title='User name', require='')
            tr
              td
                label
                  | Password
                  td
                    input#password(type='password', title='Enter a password', require='')
            tr
              td
                label
                  | Password
                  td
                    input#confirmPassword(type='password', title='Confirm your password', require='')            
            tr
              td
                label
                  | Suburb
                  td
                    input#suburb(type='text', title='Suburb', require='')
            tr
              td
                label
                  | Address
                  td
                    input#address(type='text', title='Address', require='')
            tr
              td
                label
                  | Services
                  td
                    input#services(type='text', title='Services', require='')
            tr
              td
                label
                  | Distance willing to travel
                  td
                    input#distance(type='numeric', title='Distance', require='')
            
        
