extends layout

block content
  
  #banner.page-header
    .col-md-6.col-sm-12
      p Provisional page for search results
      p Information will be retrieved from the database.
    .col-md-6.col-sm-12
      p Search results will go here.
    
